.root {
    -fx-background-color: #f7f1d2;
}

.label {
    -fx-font-size: 14px;
}

.text-field,
.password-field {
    -fx-font-size: 14px;
}

.combo-box {
    -fx-font-size: 14px;
}

.combo-box .arrow-button {
    -fx-background-color: #ffa726;
    -fx-background-insets: 0, 0, 1, 2;
    -fx-background-radius: 0 5 5 0, 0 4 4 0, 0 3 3 0, 0 2 2 0;
}

.combo-box-popup .list-view {
    -fx-background-color: #ffa726;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #ffa726;
}

.button:pressed,
.combo-box:pressed {
    -fx-background-color: derive(-fx-base, 20%);
}

.context-menu,
.menu,
.menu-bar {
    -fx-background-color: #ffcc00;
}

.menu-item:hover,
.menu-item:pressed {
    -fx-background-color: #ffa726;
}

.menu-item:separator {
    -fx-background-color: #333333;
}

.menu-item:check-mark {
    -fx-background-color: #ffa726;
}


.context-menu .menu-item:hover,
.context-menu .menu-item:pressed {
    -fx-background-color: #ffa726;
}
